In [1]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [4]:
lst=[10,20,14,55,43,87,76]
print(lst)
print('Number of item in the List:\n',len(lst))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List:
 7

In [5]:
AI='Artificial Intelligence'
print(AI)
for i in AI:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
print('-Your Name-')
print('-Your age-')
print('-Your Profession-')

-Your Name-
-Your age-
-Your Profession-

In [7]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [8]:
Tuple1=(0,1,2,3),('Python', 'Hope')
print(Tuple1)

((0, 1, 2, 3), ('Python', 'Hope'))

In [9]:
num=(20,10,19,25,1,276,188)
print(num)
for i in num:
    if i%2==1:
        print(f'{i} is odd')

(20, 10, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [10]:
num=(20,10,19,25,1,276,188)
print(num)
for i in num:
    if i%2==0:
        print(f'{i} is even')

(20, 10, 19, 25, 1, 276, 188)
20 is even
10 is even
276 is even
188 is even